# PostgreSQL Environment Variables
# Create .env file in your local system
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=consorcio_user
DB_PASSWORD=1234
DB_DATABASE=consorcio_db
JWT_SECRET=SECRET_KEY_PARA_PRODUCCION
